@import "azure-devops-ui/Core/_platformCommon.scss";

.vote-container {
    display: flex;
    flex-direction: column;
     align-items: center;
     color: $primary-text;
}

.vote-card {
    margin-bottom: 5px;
    color: $primary-text;
}

