@import "azure-devops-ui/Core/_platformCommon.scss";

.vote-container {
    display: flex;
    flex-direction: column;
     align-items: center;
     color: $primary-text;
}

.vote-card {
    margin-bottom: 5px;
    color: $primary-text;
}

.vote-avatar {
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 24px;
    overflow: hidden;
    border-radius: 50%;
    line-height: 0;
}

