@import "azure-devops-ui/Core/_platformCommon.scss";

.work-item-card--info{
overflow: hidden;
}

.work-item-card {    
    min-width: 200px;
    margin-bottom: 15px;
    flex-shrink: 0;

    &.clickable {
        cursor: pointer;
    }

    .bolt-card {
        transition: 0.3s linear all;
    }

    &.clickable:hover .bolt-card {
        background-color: $neutral-8;
    }

    &.selected .bolt-card {
        background: $communication-tint-30;
    }

    &--info {
        display: flex;
        align-items: flex-start;
          
    }

    &--title {
        overflow-wrap: break-word  !important;
        overflow: hidden;
        padding: 0px 5px;
       
    }

    &--meta {
        display: flex;
        align-items: center;

     
    }

    &--id {
        font-weight: bold;
     
    }

    &--estimate {
        text-align: right;
        font-weight: bold;
       
    }
}
.estimate-container{
    margin-left: auto;
}



.card-work-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.work-item-id-icon{
    min-width: 150px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
}
.card{
display: flex;
flex-direction: column;
}
