@import "azure-devops-ui/Core/_platformCommon.scss";

.work-item-header {
   

    &--header {
        display: flex;
        flex-direction: column;

       
    }

    &--info {
        display: flex;
        align-items: center;

        color: $secondary-text;
        font-size: 14px;
        margin-right: 5px;

        text-decoration: none;
        text-transform: capitalize;

        &:hover {
            text-decoration: underline;
        }
    }

    &--title {
        flex-grow: 1;
        font-size: 18px;
        font-weight: 700;
        padding: 0px 20px;
    }    
}

